.react-multi-carousel-list {
  height: 80vh;
  margin-right: 10px;
}

.car-item {
  margin-left: 10px;
  height: 100%;
  list-style: none;
}

.btn-car-item {
  width: 100%;
  height: 337px;
  background-color: white;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 7px 1px #aaa;
  transition: transform 0.2s ease-in-out;
}

.btn-car-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 7px 1px #87de15d3;
}

.image-container img {
  border-radius: 50%;
  width: 100%;
}

.card-body > p {
  font-size: 15px;
}

@media (max-width: 375px) {
  .btn-car-item {
    width: 100%;
    height: 400px;
  }
}
