.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.headerDetails {
  color: #87de15;
  text-align: center;
  margin-bottom: 20px;
}

.Details {
  color: #333;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.Details h3 {
  color: #87de15;
  margin-bottom: 10px;
  width: 100%;
}

.Details p {
  color: #141414;
  padding: 7px;
  margin: 5px 0;
  background-color: #d7f4b1;
  box-shadow: 0 5px 10px 0 rgb(135 222 21 / 44%);
}

.Details img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
