.reserve-container {
    width:100%;
    text-decoration: blink;
    color: white;
    height: 100%;
    background-image: url(https://res.cloudinary.com/dv1mouzbi/image/upload/v1701954580/devSources/p8qvtb5iv5ar5jzz4l2d.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.background{
    width: 100%;
    height: 100%;
    background-color: #97c004e6;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
}

.reserve-container a{
    border: 2px solid #afafaf;
    padding: 1%;
    border-radius: 11px;
    background-color: #f9f9f9;
    text-decoration: blink;
    color: #97c004;
    margin-right: 81%;

}
.reserve-btn-form {
    background-color: white;
    color: #97c004;
    margin-bottom: 20px;
}
#date{
    padding-bottom: 31px;
}
#reserve-date{
    height: 33px;
    border-radius: 10px;
    background: #ffffffd9;
    padding: 2px;}
select{
    height: 33px;
    border-radius: 10px;
    background: #ffffffd9;
    padding: 2px;
}



@media (min-width: 768px) {
    
    .form-reserve{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
}